<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <label for="Email">Email</label>
        <input type="text" name="Email" id="Email" required>

        <label for="Password">Password</label>
        <input type="text" name="Password" id="Password" required>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>